*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.FooterMessage{
    text-align: center;
    opacity: 0.3;
    color: gray;
    font-family: "Trebuchet MS";
    font-size: small;
}
@media(max-height: 550px){
   .FooterMessage{
    display: none;
   } 
}
